body {
    background-color: black;
}
.navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 90px;
    position: fixed;
}
.linkNavBar{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 31px;
    border-radius: 30px;
}
.linkNavBar:hover{
    background-color: rgb(133, 154, 41);
}
.titulo{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/pizza1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.textitulo{
    font-size: 50px;
    color: white;
    font-family: 'Lobster', cursive;
}
.galeria{
    background-image: url("../img/madera1.jfif");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.piePagina{
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.creditos{
    color: aliceblue;
}
.promoPrincipal{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    background-image: url("../img/madera3.jpg");
    
}
.titulopromo{
    background-image: url("../img/fondo-pizza.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    flex-direction: column;
    color: white;
    font-size: 50px;
    font-family: 'Lobster', cursive;
}
.promo-boton{
    height: 10%;
    width: 100%;
    align-items: stretch;

}
.promo-boton-content{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.promo-boton1{
    width: 100px;
    height: 40px;
    background-color: transparent;
    border-color: white;
}
.promo-boton1:hover{
    background-color: rgb(133, 154, 41);
    border-color: rgb(133, 154, 41);
}
.promo-boton2{
    text-decoration: none;
    color: white;
}

.promo{
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;  
}
.promo1{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
    
}
.promo2{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.imgpromo{
    width: 45%;
    height: 90%;  
}
.imgpromoimg{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
                                 CONTACTENOS */
.contact-principal{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 100%;
}
.contact-1{
    background-color: black;
    height: 20%;
    width: 100%;

}
.contact-2{
    background-color: bisque;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contact-2-map{
    background-color: blue;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contac-2-map-1{
    background-color: blueviolet;
    width: 100%;
    height: 50%;

}
.contac-2-map-2{
    background-color: chartreuse;
    width: 100%;
    height: 50%;
}
.contact-2-lo{
    background-color: brown;
    width: 50%;
    display: flex;
    flex-direction: row;
    background-image: url("../img/fondo-pizza.jpg");
}
.contact-2-lo-1{
    width: 20%;
    height: 100%;
    background-color: chocolate;

}
.contact-2-lo-2{
    height: 100%;
    width: 80%;
    background-color: darkcyan;

}